.o_form_karma_widget {
    display: flex;
}

.o_karma_widget {
    margin-left: 8px;
}

.o_karma_widget__box {
    width: 120px;
    height: 120px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    padding: 8px;
    display: flex;
    flex-flow: column;
}

.o_karma_widget__box__top,
.o_karma_widget__box__middle,
.o_karma_widget__box__bottom
{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

/**
* The karma widget is seperated into 9 boxes.
*
* The middle-center contains the score itself.
* That box is centered horizontally and vertically.
*
* Other boxes are aligned from the nearest horizontal and vertical border.
*/
.o_karma_widget__box__top-left,
.o_karma_widget__box__top-right,
.o_karma_widget__box__middle-left,
.o_karma_widget__box__middle-center,
.o_karma_widget__box__middle-right,
.o_karma_widget__box__bottom-left,
.o_karma_widget__box__bottom-right {
    display: flex;
    flex-direction: column;
}

.o_karma_widget__box__top-left,
.o_karma_widget__box__top-right {
    justify-content: flex-start;
}

.o_karma_widget__box__middle-left,
.o_karma_widget__box__middle-center,
.o_karma_widget__box__middle-right {
    justify-content: space-around;
    flex: 1;
}

.o_karma_widget__box__bottom-left,
.o_karma_widget__box__bottom-right {
    justify-content: flex-end;
}

.o_karma_widget__box__top-left,
.o_karma_widget__box__middle-left,
.o_karma_widget__box__bottom-left {
    align-items: flex-start;
}

.o_karma_widget__box__top-right,
.o_karma_widget__box__middle-right,
.o_karma_widget__box__bottom-right {
    align-items: flex-end;
}

.o_karma_widget__score {
    font-size: 2em;
    text-align: center;
}

.o_karma_widget__score,
.o_karma_widget__refresh,
.o_karma_widget__history
{
    cursor: pointer;
}
