.o_karma_widget {
    display: flex;
}

.o_karma_widget__item {
    margin-left: 8px;
}

.o_karma_widget__box {
    width: 120px;
    height: 120px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    padding: 8px;
    display: flex;
    flex-flow: column;
}

.o_karma_widget__box__top,
.o_karma_widget__box__center,
.o_karma_widget__box__bottom
{
    display: flex;
    justify-content: space-between;
}

.o_karma_widget__box__middle-top,
.o_karma_widget__box__middle-center,
.o_karma_widget__box__middle-bottom {
    height: 100%;
}

.o_karma_widget__box__top-left,
.o_karma_widget__box__middle-left,
.o_karma_widget__box__bottom-left {
    align-items: flex-start;
}

.o_karma_widget__box__top-right,
.o_karma_widget__box__middle-right,
.o_karma_widget__box__bottom-right {
    align-items: flex-end;
}

.o_karma_widget__box__top-center,
.o_karma_widget__box__middle-center,
.o_karma_widget__box__bottom-center,
.o_karma_widget__history {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.o_karma_widget__box__middle {
    flex: 1;
}

.o_karma_widget__history {
    margin: 0.5em 0;
}

.o_karma_widget__score {
    font-size: 2em;
}

.o_karma_widget__score,
.o_karma_widget__refresh,
.o_karma_widget__history
{
    cursor: pointer;
}
